<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.fg.selenium.test</string>

        <key>ProgramArguments</key>
        <array>
            <string>/Users/fg/work/launchctl-in-mac/bin/run-selenium-test.sh</string>
        </array>


        <key>StartCalendarInterval</key>
        <dict>
            <key>Hour</key>
            <integer>8</integer>
            <key>Minute</key>
            <integer>00</integer>
        </dict>

        <key>StandardErrorPath</key>
        <string>/tmp/FGProc.err</string>

        <key>StandardOutPath</key>
        <string>/tmp/FGProc.out</string>
    </dict>
</plist>
